 /* Homepage.css */
 .banner {
   /* background-image: url("/public/Images/download.jpeg"); */
   height: 20vh !important;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100% !important;

 }

 .banner1 {
   background-color: #ffc107 !important;
   height: 10vh !important;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100% !important;
    border-radius: 10px !important; 
 }

 /* trending corousel */
 .slick-dots {
   position: absolute;
   bottom: 4rem !important;
   display: block;
   width: 100%;
   padding: 0;
   margin: 0;
   color: #fff !important;
   list-style: none;
   text-align: center;
   /* background-color: #transparent; */
 }

 .slide-img {
   height: 100%;
   width: 100%;
   aspect-ratio: 16/9;
   border-radius: 20px !important;
    margin: 0px !important; 
 }

 .slide-img1 {
   height: 100%;
   width: 100%;
   aspect-ratio: 1/1 !important;
   /* border-radius: 8px !important; */
   margin: 2%;
 }

 .slide-img2 {
   height: 100%;
   width: 100%;
   aspect-ratio: 9/16 !important;
   /* border-radius: 8px !important; */
   margin: 2px;
 }

 .slide-img3 {
   height: 100%;
   width: 100%;
   aspect-ratio: 16/9 !important;
   /* border-radius: 8px !important; */
   margin: 2px;
 }

 /*
 /* mobileview  homepage*/

 @media (max-width: 768px) {
   .slide-img {
     height: 100%;
     width: 100%;
     aspect-ratio: 1/1 !important;

   }

   .slide-img1 {
     height: 90%;
     width: 90%;
     aspect-ratio: 1/1 !important;
     /* border-radius: 20px !important; */
     padding: 8%;
   }

   .slide-img2 {
     height: 100%;
     width: 100%;
     aspect-ratio: 9/16 !important;
     /* border-radius: 8px !important; */

     padding: auto;

   }

   .slide-img3 {
     height: 100%;
     width: 100%;
     aspect-ratio: 16/9 !important;
     /* border-radius: 8px !important; */
     padding: auto;

   }
 }

 /* ArticlePage.css */
 .article-img {
   aspect-ratio: 1/1 !important;
   margin: 2px;
 }

 .art-card {
   background-color: #e0d4e263;
 }

 /* category */
 .cbanner {
   background-image: url("/public/Images/download.jpeg");
   height: 20vh !important;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100% !important;
   /* border-radius: 8px 8px !important; */
 }

 .awssld__bullets {
   position: absolute;
   bottom: 2px !important;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .slider {
   border-radius: 8px !important;
   aspect-ratio: 1/1 !important;
   /* padding: 20px; */
   border-radius: 25px !important;
 }
 /* category page css */

